<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    {% block navbar %}
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand">MaBibliothèque</a>
            <div class="collapse navbar-collapse" id="mainNavbar">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="auteursDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">Auteurs</a>
                        <ul class="dropdown-menu" aria-labelledby="auteursDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('getAuteurs') }}">Liste des auteurs</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="livresDropdown"
                            role="button" data-bs-toggle="dropdown" aria-expanded="false">Livres</a>
                        <ul class="dropdown-menu" aria-labelledby="livresDropdown">
                            <li><a class="dropdown-item" href="{{ url_for('getLivres') }}">Liste des livres</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('about') }}">À propos</a>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('contact') }}">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> {% endblock %}
    {% block content %}
    <main id="main" role="main" class="container">
        {% block main %}{% endblock %}
    </main>
    {% endblock %}
    <!-- Bootstrap JS Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script >
</body >
</html >