{% extends "base.html" %}
{% block main %}
<h1>Liste des Livre</h1>
<p>Nombre d'auteurs : {{ livres|length }}</p>
{% if livres|length == 0 %}
<p>Aucun livres trouvé.</p>
{% endif %}
<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>Titre</th>
            <th>Prix</th>
            <th>Url</th>
            <th>Première de couverture</th>
            <th>Auteur</th>
        </tr>
    </thead>
    <tbody>
        {% for unLivre in livres %}
        <tr>
            <td>{{ unLivre.idL }}</td>
            <td>{{ unLivre.Titre }}</td>
            <td>{{ unLivre.Prix }}</td>
            <td>{{ unLivre.Url }}</td>
            <td><img src="{{url_for('static',filename = 'images/'~unLivre.Img)}}" alt="couverture du livre"> </td>
            <td>{{ unLivre.auteur.Nom }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}